body {
    font-family: 'Montserrat', sans-serif;
    /* background-color: #E5E5E5; */
    /* margin-top: 40px; */
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
}

/* main styles =============================================== */

.main {
    display: flex;
    flex-direction: row-reverse;
    background-color: #FFFFFF;
    width: 1200px;
    margin: 0 auto;
}

/* right main content ======================================== */

.right_main_content {
    background-color: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 85px 85px;
}

/* about ===================================================== */

.user__box {
    margin-bottom: 40px;
}

.user__position {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}

.user__name {
    font-style: normal; 
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}

.user__description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* color: #595959; */
    color: #000000;
    width: 650px;
}

/* projects ================================================== */

.projects {
    margin-bottom: 50px;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FB6D3A;
    margin-bottom: 10px;
}

.projects__list {
    padding: 0;
    margin-left: 15px;
}

.projects__item {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project,
.project__link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* color: #595959; */
    color: #000000;
}

.project__link {
    color: #FB6D3A;
}

.project__span {
    font-style: normal;
    font-weight: normal;
}

/* work ====================================================== */

.work {
    margin-bottom: 50px;
}

.work__pozition {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.work__organization {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.work__period,
.education__period {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    /* color: #A8A8A8; */
    color: #000000;
    margin-bottom: 10px;
}

.line {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}

.work__list {
    padding: 0;
    margin-left: 15px;
}

.work__item,
.project__item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* color: #595959; */
    color: #000000;
}

/* education ================================================= */

.education {
    margin-bottom: 50px;
}


.education__university {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* color: #53576e; */
    color: #000000;
}
.education__university {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* color: #53576e; */
    color: #000000;
    margin-bottom: 5px;
}

.education__speciality {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

/* left sidebar ============================================== */

.leftsidebar {
    background-color: #1E2939;
    padding-top: 40px;
    width: 370px;
}

.leftsidebar__photo {
    width: 370px;
}

.leftsidebar__box {
    margin-top: 60px;
    margin-left: 60px;
}

.leftsidebar__title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.leftsidebar__list {
    color: #FFFFFF;
    padding: 0;
    margin-left: 17px;
}

.leftsidebar__item {
    color: #FB6D3A;
}

.leftsidebar__text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}