body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
    margin-top: 40px;
}

/* main styles */
.main {
    display: flex;
    flex-direction: row-reverse;
    background-color: #FFFFFF;
    width: 1200px;
    margin: 0 auto;
}

/* right main content */
.right_main_content {
    background-color: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px;
}

/* about */
.about {
    margin-bottom: 40px;
}

.about_position {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}

.about_name {
    font-style: normal; 
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}

.about_description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}

/* projects */
.projects {
    margin-bottom: 50px;
}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}

.projects_list {
    padding: 0;
    margin-left: 15px;
}

.projects_item {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project,
.project_link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.project_link {
    margin-left: 10px;
}

.project_bracket {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

/* work */
.work {
    margin-bottom: 50px;
}

.work_pozition {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.organization,
.university {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.period {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.line {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.work_list {
    padding: 0;
    margin-left: 15px;
}

.work_list_item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* education */
.education {
}

.university {
    margin-bottom: 5px;
}

.speciality {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.project_title {
}

/* left sidebar */
.left_sidebar {
    background-color: #1E2939;
    padding-top: 40px;
    width: 370px;
}

.photo {
    width: 370px;
    margin-bottom: 50px;
}

.contacts,
.tech_skills,
.soft_skills
 {
    margin-left: 40px;
}

.soft_skills {
    margin-top: 50px;
}

.contacts {
    margin-bottom: 50px;
}

.left_sidebar_title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.contact_type {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 10px;
}

.contact_link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #565E6A;
}

.tech_skills_list,
.soft_skills_list {
    color: #FFFFFF;
    padding: 0;
    margin-left: 17px;
}

.tech_skills_item,
.soft_skills_item {
    color: #FB6D3A;
}

.tech_skills_text,
.soft_skills_text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}